@font-face {
	font-family: 'DINPro-bold';
	src: url('../fonts/DINPro-Bold.eot');
	src: local('☺'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf') format('truetype'), url('../fonts/DINPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: 'DINPro-medium';
	src: url('../fonts/dinpro-medium.eot');
	src: local('☺'), url('../fonts/dinpro-medium.woff') format('woff'), url('../fonts/dinpro-medium.ttf') format('truetype'), url('../fonts/dinpro-medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}


body
{
    font-family: 'DINPro-bold';
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
}

.wrapper__header, .wrapper__main, .wrapper__images, .wrapper__list, .wrapper__about__us
{
    width: 1260px;
    margin: 0 auto;
}





img
{
    max-width: 100%;
}

header
{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 96px;
}

header .logo
{
    max-width: 134px;
}
header .nav__menu
{
    list-style-type: none;
}

header .nav__menu li
{
    display: inline-block;
    margin-right: 40px;
}

header .nav__menu .current__page
{
    color: #FF9900;
    border-bottom: 2px #FF9900 solid;
    padding-bottom: 12px;
}

header .nav__menu li a
{
    display: block;
    text-decoration: none;
    color: #263640;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}




header .link__btn
{
    background: #FF9900;
    padding-left: 24px;
    padding-right: 24px;
    color:#FFFFFF;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    
    
}

header .btn
{
    display: flex;
}

header .link__btn::after
{
    content: url('../icons/envelope.svg');
    margin-left: 20px;
    vertical-align: middle;
}

header .nav__menu .arrow::after
{
    content: url('/icons/arrow.svg');
    vertical-align: super;
    margin-left: 5px;
   
}

main .content
{
    
    display: flex;
}

main .content__left
{
    width: 470px;
    height: 302px;
    margin-right: 103px;
}

main .text__normal__content__left
{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-align: left;
     color: rgba(146, 154, 159, 1);
    text-transform: uppercase;
    margin-bottom: 15px;
}

main .text__bold__large__content__left
{
    font-size: 32px;
    line-height: 45px;
    color:#263640;
    margin-bottom: 15px;
}

main .text__small__content__left
{
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
    color:rgba(146, 154, 159, 1);
    margin-bottom: 38px;
    padding-right: 43px;
}

main .btn
{
    
}

main .btn__content__left span
{
    background-color: rgba(255, 153, 0, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-left: 16px;
    
    line-height: 40px;
    font-weight: 700;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

main .btn__content__left span::after
{
    content: url('../icons/arrow_r_white.svg');
    vertical-align: -5px;
    padding-left: 16px;
    padding-right: 16px;
}

main .content__right
{
    
}

main .image__content__right
{
    width: 593px;
    height: 750px;
    position: absolute;
    background: #C4C4C4;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #F7F8FA;
    
}

main .image__content__right img
{
    width: 100%;
}

main .icon__image__content__right
{
    position: relative;
    left: 32px;
    top: 32px;
}

  .title
 {
     font-size: 24px;
     line-height: 44px;
     color:rgba(38, 54, 64, 1);
     margin-bottom: 16px;
    
 }

  .text__sub__title
 {
     font-size: 16px;
     line-height: 28px;
     color: rgba(146, 154, 159, 1);
     font-family: 'DINPro-medium';
     
 }

 .bcg__images
 {
     background-color: #F5F8FA;
     height: 1590px;
     margin-top: 178px;
     
 }

  .images__container
 {
     width: 505px;
     height: 172px;
 }

  .text__sub__title__ph
 {
     margin-top: -15px;
 }

 .wrapper__images
 {
    background-color: #F5F8FA;
 }

 .images 
 {
    position: relative;
    top:270px;
    margin-bottom: 80px;
    
 }

 .list
 {
    display: flex;
    margin-top: 380px;
    justify-content: space-between;
    margin-bottom: 168px;
 }

 .list__item
 {
    font-family: 'DINPro-medium';
    width: 312px;
    height: 605px;
 }

 .list__img
 {
    
 }

 .link__list__img
 {

 }

 .list__image
 {
    height: 333px;
    width: 312px;
    box-shadow:0px 4px 40px rgba(0, 0, 0, 0.07);
    margin-bottom: 24px;
 }

 .item__title
 {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color:rgba(38, 54, 64, 1);
    margin-bottom: 24px;
 }

 .item__text
 {
    font-size: 16px;
    line-height: 28px;
    color:rgba(146, 154, 159, 1);
    margin-bottom: 24px;
 }

 .item__text__link
 {
    color:rgba(255, 153, 0, 1);
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 28px;
 }

 .item__text__link::after
 {
     content: url('../icons/arrow_r_orange.svg');
     vertical-align: sub;
     position: relative;
     top:2px;
 }

 .bcg__about__us
 {
    background-color: rgba(38, 54, 64, 1);
    width: 1000px;
    height: 600px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2), -50px 100px 0px #F5F8FA;
 }

 .about__us
 {
     position: relative;
     width: 494px;
     height: 412px;
     top: 98px;
     left: 98px;
     
 }

 .title__about__us
 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color:rgba(146, 154, 159, 1);
    margin-bottom: 24px;
 }

 .large__text__about__us
 {
     font-size: 32px;
     line-height: 44px;
     color:rgba(255, 255, 255, 1);
     margin-bottom: 24px;

 }

 .medium__text__about__us
 {
    font-family: 'DINPro-medium';
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 56px;
    color:rgba(255, 255, 255, 1);
 }

 .line__about__us
 {
    border: 1px solid #FFFFFF;
     width: 494px;
     opacity: 0.2;
     margin: 24px 0px;
 }

 .link__about__us
 {
    color:rgba(255, 255, 255, 1);
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-style: normal;
    font-family: 'DINPro-medium';
 }

 .link__about__us::after
 {
     content: url('../icons/arrow_r_white.svg');
     vertical-align: sub;
     position: relative;
     top: 2px;
 }

 .conatiner__about__us
 {
     width: 1216px;
     height: 760px;
     position: absolute;
     display: flex;
 }

 .gray__img
 {
     width: 488px;
     height: 662px;
     top: 98px;
     position: relative;
     right: 136px;
     
 }

 .gray__img__about__us
 {
    width: 488px;
    height: 662px;
 }

