body, html
{
   
    margin: 0;
    padding: 0;
    background-color: #0B1D26;
    box-sizing: border-box;
}

img
{
    width: 100%;
}

a
{
    text-decoration: none;
}

.header
{
    background:
    linear-gradient(180deg, rgba(11, 29, 38, 0) 0%, #0B1D26 61.38%) 100% 100% no-repeat,
    url('../img/03.png') 100% 100% no-repeat,
    url('../img/02.png') 100% 100% no-repeat,
    url('../img/01.png') 100% 100% no-repeat;
    background-size:1920px 700px, 1920px 926px,1920px 1422px,1920px 1513px;
    height: 1500px;
    position: relative;
       
}
.header::after
{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(330.24deg, rgba(11, 29, 38, 0) 31.06%, #0B1D26 108.93%);
    
}


.header__wrapper
{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.logo_header
{
    
    width: 108px;
    height: 24px;
}

.header__content
{
    position: relative;
    
    
}

.nav
{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color:#FFFFFF;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 21.76px;
    z-index: 1;
    
}

.container__nav
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px ;
    
}

.container__links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    
}

.header__account__text
{
    display: flex;
    text-align: center;
    align-items: center;
    gap:8px;
}


.header__account__text::before
{
    content: url('../icons/icon_header.png');
    display: flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    position: relative;
    top:2px;
}

.header__content
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap:300px;
    margin: 0 80px;
    z-index: 1;
}

.content__header__text__title
{
    color:#FBD784;
    text-transform: uppercase;
    margin: 32px 0;
    letter-spacing: 6px;
}

.content__header__text__large
{
    font-size: 88px;
    line-height: 100px;
    font-weight: 600;
    color:#FFFFFF;
    margin-bottom: 57px;
}

.content__header__text__scroll
{
    font-size: 18px;
    font-weight: 700;
    line-height: 21.76px;
    color:#FFFFFF;
}

.cosial__header__text
{
    font-size: 18px;
    line-height: 21.76px;
    font-weight: 700;
    color:#FFFFFF;
    transform: rotate(90deg);
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    gap: 24px;
    
}

.cosial__header__text::after
{
    content: url('../icons/instagram.svg');
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.cosial__header__text::after::before
{
    content: url('../icons/twitter.svg');
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    text-align: center;
    align-items: center;
}

.slider__header
{
    font-size: 18px;
    line-height: 21.76px;
    color:#FFFFFF;

}

.content__header__text__scroll
{
    display: flex;
    gap: 16px;
}

.content__header__text__scroll::after
{
    content: url('../icons/arrow_down.svg');
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}


.slider__header
{
    display: flex;
    
}

.slider__header__list
{
    display: flex;
    gap: 40px;
    flex-direction: column;
    margin-top: 80px;
}

.main
{
    background-color: #0B1D26;
}

.main__content
{
    width: 100%;
    display: flex;
    
}



.main__menu
{
    display: flex;
    flex-direction: column;
    margin: 0 230px;
}

.main__menu__item__title
{
    color:#FBD784;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    line-height: 22.05px;
    letter-spacing: 6px;
    margin-bottom: 27px;
    display: flex;
    gap:24px;
}

.main__menu__item__title::before
{
    content: url('../icons/line.svg');
    
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    align-content: center;
    position: relative;
    bottom:4px;
}

.main__menu__item__large__text
{
    color:#FFFFFF;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 27px;
}

.main__menu__item__small__text
{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color:#FFFFFF;
    margin-bottom: 27px;
}


.main__menu__item__read__more::after
{
 
 content: url('../icons/arrow_r_yellow.svg');
 position: relative;
 top: 4px;
}

.main__menu__item__read__more
{
    display: flex;
    gap: 16px;
}

.link__read__more
{
    color:#FBD784;
    font-size: 18px;
    line-height: 21.76px;
    
}



.main__menu__item
{
    display: flex;
    gap: 114px;
    margin-bottom: 200px;
    
}



.main__menu__item__right
{
    width: 632px;
}

.main__menu__item__left
{
    width: 632px;
    height: 439px;
    
}

.main__menu__item__img
{
    width: 566px;
    height: 720px;
    display: flex;
    
}

.main__menu__item__img img
{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

.main__menu__item__number
{
    font-size: 240px;
    color:#FFFFFF;
    font-weight: 700;
    opacity: 0.1;
    position: relative;
    top:150px;
    right: 100px;
    
}

.footer
{
    
    
    margin: 0 230px;
    margin-bottom: 120px;
    
}

.logo__footer
{
    width: 108px;
    height: 38px;
    margin-bottom: 24px;
}
.text__sub__img
{
    color:#FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    width: 303px;
    margin-bottom: 122px;
}

.footer__copy
{
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    opacity: 50%;
    color:rgba(255, 255, 255, 1);
}

.list__more__on__blog__title, .More__on__MNTN__title
{
    color:rgba(251, 215, 132, 1);
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
}

.list__more__on__blog__item, .More__on__MNTN
{
   font-weight: 800;
   font-size: 18px;
   line-height: 32px;
   color:rgba(255, 255, 255, 1); 
}
.list__more__on__blog__item:not(:last-child), .More__on__MNTN:not(:last-child)
{
    margin-bottom: 24px;
}

.footer__content__right
{
    display: flex;
    flex-direction: row;
    gap:212px;
}

.footer__content
{
    display: flex;
    justify-content: space-between;
    
}